<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <expression type="Lambda" typeof="System.Action">
    <expression type="Block">
      <expressions>
        <expression type="ArrayIndex" name="arayIndex">
          <expression type="NewArrayInit" typeof="System.String">
            <initializers>
              <expression type="Constant" typeof="System.String" value="1" />
              <expression type="Constant" typeof="System.String" value="2" />
            </initializers>
          </expression>
          <indexes>
            <expression type="Constant" typeof="System.Int32" value="1" />
          </indexes>
        </expression>
        <expression type="Call" kind="Static" typeof="System.Console" methodName="WriteLine">
          <arguments>
            <expression ref="arayIndex" />
          </arguments>
        </expression>
      </expressions>
    </expression>
  </expression>
</configuration>