<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <expression type="Lambda" typeof="System.Func`2[System.Int32, System.Int32]">
    <expression type="Block">
      <expressions>
        <expression type="Assign">
          <left>
            <expression ref="counter"/>
          </left>
          <right>
            <expression type="Constant" typeof="System.Int32" value="2" />
          </right>
        </expression>
        <expression type="Assign">
          <left>
            <expression ref="resultParameter"/>
          </left>
          <right>
            <expression type="Constant" typeof="System.Int32" value="1" />
          </right>
        </expression>
        <expression type="Loop">
          <expression type="Conditional">
            <test>
              <expression type="LessThanOrEqual">
                <left>
                  <expression ref="counter"/>
                </left>
                <right>
                  <expression ref="valueParameter" />
                </right>
              </expression>
            </test>
            <ifTrue>
              <expression type="Block">
                <expressions>
                  <expression type="MultiplyAssign">
                    <left>
                      <expression ref="resultParameter"/>
                    </left>
                    <right>
                      <expression ref="counter"/>
                    </right>
                  </expression>
                  <expression type="Assign">
                    <left>
                      <expression ref="counter"/>
                    </left>
                    <right>
                      <expression type="Add">
                        <left>
                          <expression ref="counter"/>
                        </left>
                        <right>
                          <expression type="Constant" typeof="System.Int32" value="1" />
                        </right>
                      </expression>
                    </right>
                  </expression>
                </expressions>
              </expression>
            </ifTrue>
            <ifFalse>
              <expression type="Goto" kind="Break">
                <expression ref="resultParameter"/>
                <label>
                  <expression type="Label" typeof="System.Int32" name="valueGreaterThen6"/>
                </label>
              </expression>
            </ifFalse>
          </expression>
        </expression>
      </expressions>
      <arguments>
        <expression ref="counter"/>
        <expression ref="resultParameter"/>
      </arguments>
      <result>
        <expression ref="resultParameter"/>
      </result>
    </expression>
    <definitions>
      <expression type="Parameter" typeof="System.Int32" name="resultParameter" />
      <expression type="Parameter" typeof="System.Int32" name="counter" />
    </definitions>
    <arguments>
      <expression type="Parameter" typeof="System.Int32" name="valueParameter" />
    </arguments>
  </expression>
</configuration>