<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <expression type="Lambda" typeof="System.Action">
    <expression type="Block">
      <expressions>
        <expression type="Assign" name="assignExp">
          <left>
            <expression type="Index" name="arayAccess">
              <expression type="NewArrayInit" typeof="System.Int32">
                <initializers>
                  <expression type="Constant" typeof="System.Int32" value="1" />
                  <expression type="Constant" typeof="System.Int32" value="2" />
                </initializers>
              </expression>
              <indexes>
                <expression type="Constant" typeof="System.Int32" value="0" />
              </indexes>
            </expression>
          </left>
          <right>
            <expression type="Add">
              <left>
                <expression ref="arayAccess" />
              </left>
              <right>
                <expression type="Constant" typeof="System.Int32" value="10" />
              </right>
            </expression>
          </right>
        </expression>
        <expression type="Call" kind="Static" typeof="System.Console" methodName="WriteLine">
          <arguments>
            <expression ref="assignExp" />
          </arguments>
        </expression>
      </expressions>
    </expression>
  </expression>
</configuration>