<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <expression type="Lambda" typeof="System.Func`1[System.Int32]">
    <expression type="Invoke">
      <expression type="Lambda" typeof="System.Func`3[System.Int32, System.Int32, System.Int32]">
        <expression type="Add">
          <left>
            <expression ref="x" />
          </left>
          <right>
            <expression ref="y" />
          </right>
        </expression>
        <arguments>
          <expression ref="x" />
          <expression ref="y" />
        </arguments>
      </expression>
      <arguments>
        <expression type="Constant" typeof="System.Int32" value="1" />
        <expression type="Constant" typeof="System.Int32" value="2" />
      </arguments>
    </expression>
    <definitions>
      <expression type="Parameter" typeof="System.Int32" name="x" />
      <expression type="Parameter" typeof="System.Int32" name="y" />
    </definitions>
  </expression>
</configuration>