<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <expression type="Lambda" typeof="System.Action">
    <expression type="Block">
      <expressions>
        <expression type="ListInit" name="listInit">
          <expression type="New" typeof="System.Collections.Generic.Dictionary`2[System.String,System.Int32]" />
          <initializers>
            <initializer>
              <expression type="Constant" typeof="System.String" value="1" />
              <expression type="Constant" typeof="System.Int32" value="10" />
            </initializer>
            <initializer>
              <expression type="Constant" typeof="System.String" value="2" />
              <expression type="Constant" typeof="System.Int32" value="10" />
            </initializer>
          </initializers>
        </expression>
      </expressions>
    </expression>
  </expression>
</configuration>