<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <expression type="Lambda" typeof="System.Func`2[[ConsoleApplication1.Foo, ConsoleApplication1], [System.String]]">
    <expression type="MemberAccess" memberName="Bar">
      <expression ref="foo" />
    </expression>
    <arguments>
      <expression type="Parameter" typeof="ConsoleApplication1.Foo, ConsoleApplication1" name="foo" />
    </arguments>
  </expression>
</configuration>