<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <expression type="Lambda" typeof="System.Action">
      <expression type="Block">
        <expressions>
          <expression type="Call" kind="Instance" methodName="WriteType">
            <instance>
              <expression ref="memberInit" />
            </instance>
          </expression>
        </expressions>
        <definitions>
          <expression type="MemberInit" name="memberInit">
            <expression type="New" typeof="ConsoleApplication1.MyClass1, ConsoleApplication1">
              <arguments>
                <expression type="Constant" typeof="System.Int32" value="6" />
              </arguments>
            </expression>
            <members>
              <expression type="Constant" typeof="System.Int32" value="7" name="Age" />
            </members>
          </expression>
        </definitions>
      </expression>
  </expression>
</configuration>