<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <expression type="Lambda" typeof="System.Func`1[[ConsoleApplication1.MyClass1, ConsoleApplication1]]">
    <expression type="Block">
      <expressions>
        <expression type="New" typeof="ConsoleApplication1.MyClass1, ConsoleApplication1" name="myClass">
          <arguments>
            <expression type="Constant" typeof="System.Int32" value="6" />
          </arguments>
        </expression>
      </expressions>
    </expression>
  </expression>
</configuration>