<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <expression type="Lambda" typeof="System.Action">
      <expression type="Block">
        <expressions>
          <expression type="NewArrayBounds" typeof="System.String" name="stringArray">
            <bounds>
              <expression type="Constant" typeof="System.Int32" value="1" />
              <expression type="Constant" typeof="System.Int32" value="2" />
            </bounds>
          </expression>
        </expressions>
      </expression>
  </expression>
</configuration>