<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <expression type="Lambda" typeof="System.Action">
    <expression type="Block">
      <expressions>
        <expression type="NewArrayInit" typeof="System.String">
          <initializers>
            <expression type="Constant" typeof="System.String" value="1" />
            <expression type="Constant" typeof="System.String" value="2" />
          </initializers>
        </expression>
      </expressions>
    </expression>
  </expression>
</configuration>