<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <expression type="Lambda" typeof="System.Action`1[System.Int32]">
    <expression type="Switch" typeof="System.Int32">
      <switchValue>
        <expression ref="valueParameter" />
      </switchValue>
      <switchCases>
        <expression type="SwitchCase">
          <testValues>
            <expression type="Constant" typeof="System.Int32" value="6" />
          </testValues>
          <expression type="Call" kind="Static" typeof="System.Console" methodName="WriteLine">
            <arguments>
              <expression ref="valueParameter" />
            </arguments>
          </expression>
        </expression>
        <expression type="SwitchCase" isDefault="true">
          <expression type="Call" kind="Static" typeof="System.Console" methodName="WriteLine">
            <arguments>
              <expression type="Constant" typeof="System.String" value="Defualt" />
            </arguments>
          </expression>
        </expression>
      </switchCases>
    </expression>
    <arguments>
      <expression type="Parameter" typeof="System.Int32" name="valueParameter" />
    </arguments>
  </expression>
</configuration>