<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <expression type="Lambda" typeof="System.Func`1[System.String]">
    <expression type="Block">
      <expressions>
        <expression type="Assign">
          <left>
            <expression ref="foo" />
          </left>
          <right>
            <expressiontype type="New" typeof="ConsoleApplication1.Foo, ConsoleApplication1" />
          </right>
        </expression>
        <expression type="Assign">
          <left>
            <expression type="MemberAccess" memberName="Bar" name="memAccess">
              <expression ref="foo" />
            </expression>
          </left>
          <right>
            <expression type="Constant" typeof="System.String" value="Sagi" />
          </right>
        </expression>
      </expressions>
      <arguments>
        <expression ref="foo" />
      </arguments>
    </expression>
    <definitions>
      <expression type="Parameter" typeof="ConsoleApplication1.Foo, ConsoleApplication1" name="foo" />
    </definitions>
  </expression>
</configuration>