<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <expression type="Lambda" typeof="System.Action`1[System.Int32]">
    <expression type="Try">
      <expression type="Block">
        <expressions>
          <expression type="Assign">
            <left>
              <expression ref="valueParameter"/>
            </left>
            <right>
              <expression type="Divide">
                <left>
                  <expression ref="valueParameter" />
                </left>
                <right>
                  <expression type="Constant" typeof="System.Int32" value="0" />
                </right>
              </expression>
            </right>
          </expression>
          <expression type="Call" kind="Static" typeof="System.Console" methodName="WriteLine">
            <arguments>
              <expression ref="valueParameter" />
            </arguments>
          </expression>
        </expressions>
        <result>
          <expression ref="valueParameter"/>
        </result>
      </expression>
      <catchBlocks>
        <expression type="Catch" typeof="System.DivideByZeroException" name="ex">
          <expression type="Block">
            <expressions>
              <expression type="Call" kind="Static" typeof="System.Console" methodName="WriteLine">
                <arguments>
                  <expression ref="ex" />
                </arguments>
              </expression>
            </expressions>
            <result>
              <expression ref="valueParameter"/>
            </result>
          </expression>
        </expression>
      </catchBlocks>
    </expression>
    <arguments>
      <expression type="Parameter" typeof="System.Int32" name="valueParameter" />
    </arguments>
  </expression>
</configuration>