<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <expression type="Lambda" typeof="System.Func`2[System.Object, System.Boolean]">
    <expression type="TypeIs" typeof="System.Exception">
      <expression ref="foo" />
    </expression>
    <arguments>
      <expression type="Parameter" typeof="System.Object" name="foo" />
    </arguments>
  </expression>
</configuration>