{{ include.indent }}<{{ include.node.name }}{% if include.node.attributes != null %}{% for attr in include.node.attributes %} {{attr.name}}="{{attr.value}}"{% endfor %}{% endif %}
{% if include.node.nodes != null %}><br />
    {% assign indentation = include.indent | append: " " %}
    {% for item in include.node.nodes %{{ include.indent }}{% include expression.html indent=indentation node=item %}
    {% endfor %}
{{ include.indent }}</{{ include.node.name }}><br/>
{% else %}
 /><br/>
{% endif %}