<!DOCTYPE html>
<html lang="en-US" class="wf-freighttextpro-n4-active wf-proximanova-n7-active wf-active">
<head>
    <title>NJection</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="{{ site.baseurl }}/NJection/scripts/cufon-yui.js"></script>
    <script src="{{ site.baseurl }}/NJection/scripts/njection.font.js"></script>
    <script src="https://use.fontawesome.com/1fa0d15fdf.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
        addEventListener("DOMContentLoaded", function () {
            Cufon.replace(".header-logo", { color: "#29abe0" });
        }, false);
    </script>
    <link rel="stylesheet" href="{{ site.baseurl }}/NJection/css/style.css">
</head>
<body>
    <div class="wrapper">
        {{ content }}
    </div>
</body>
</html>
