<!DOCTYPE html>
<html lang="en-US" class="wf-freighttextpro-n4-active wf-proximanova-n7-active wf-active">
<head>
    <title>NJection</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>
<body>
    <section class="content">
        {{ content }}
    </section>
</body>
</html>
